$font: 'Outfit', sans-serif;

$body-font: normal 300 16px/24px $font;
$h1: normal 700 38px/54px $font;
$h2: normal 700 30px/40px $font;
$h3: normal 500 24px/30px $font;
$h4: normal 500 18px/26px $font;